html, body {
    background-color: #fff;
    color: #000;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 400%;
    font-weight: 700;
}

.links > a {
    color: #000;
    padding: 0 15px;
    font-size: 200%;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.title-image {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.pro {
    font-family: 'Trocchi', serif;
}

.per {
    font-family: 'Permanent Marker', cursive;
}

#copyright {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 32px;
    height: 32px;
}

#contact {
    position: fixed;
    bottom: 0px;
    right: 34px;
    width: 32px;
    height: 32px;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

li, p > a {
    color: #000;
    text-decoration: underline;
}

@media screen and (max-device-width: 460px) {
    span {
        display: none;
    }

    .links > a {
    color: #000;
    padding: 0 15px;
    font-size: 100%;
    font-weight: 400;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    }

    .title {
        font-size: 300%;
        font-weight: 700;
    }
}